body {
  font-family: -apple-system,sans-serif;
  font-weight: lighter;
  letter-spacing: 0.5px;
  background-color: #DCD0C0;
  background-repeat: repeat-x;
  overflow-y: auto;
  overflow-x: hidden;
}

.welcome {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.welcome h1 {
  letter-spacing: 13px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: lighter;
  margin-top: 6%;
  padding: 2%;
  text-align: center;
  color: #373737;
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', sans-serif;
  background-color: #f4f4f4;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  z-index: 300;
}

a {
  font-size: 20px;
  padding: 15px 15px 15px 15px;
  color: #373737;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  font-style: italic;
  text-decoration: underline;
}

.image-container {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: row;
}

.image-container img {
  width: 300px;
  height: 400px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
}

.introduction {
  display: flex;
  margin: 10% 0;
  text-align: left;
  color: #373737;
  right: 0;
}


#left-img {
  border-radius: 10px;
  width: 750px;
  height: 450px;
  margin-left: -5%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.goals {
  display: flex;
  margin: 10% 0;
  margin-left: 12%;
  text-align: left;
  color: #373737;
  right: 0;
}

#right-img {
  border-radius: 10px;
  width: 750px;
  height: 450px;
  margin-right: -3%;
  margin-left: 5%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.detail {
  box-sizing: border-box;
  width: 520px;
  padding: 5%;
  font-size: 17px;
}

.title {
  letter-spacing: 1px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 35px;
}

button {
  background-color: #373737;
  color: #f4f4f4;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

button:hover {
  border: 1px solid #373737;
  background-color: #f4f4f4;
  color: #373737;
}

#service-title {
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 17%;
  color: #373737;
  font-size: 50px;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 15% 10% 15%;
}

.services h1 {
  font-weight: lighter;
  font-size: 25px;
  color: #373737;
  cursor: pointer;
}

.services h1:hover {
  text-decoration: underline;
}

.services p {
  font-size: 15px;
  color: #373737;
}

.col1 {
  width: 35%;
  padding-top: 5px;
}

.col2 {
  margin-left: 15%;
  width: 35%;
}


footer h1 {
  font-weight: lighter;
  text-align: center;
  font-size: 15px;
  color: gray;
  padding: 10px;
}
